ion-view(title="Lupulocalizador")
    ion-content.about
        header
            h1 Sobre Nós
            p Saiba um pouco mais sobre a nossa missão
        div.padding
            p Quantas vezes você já fez essa pergunta: "Onde podemos beber uma cerveja de qualidade por aqui?". O Lupulocalizador foi criado para sempre poder responder essa pergunta.
            p Estávamos tão ansiosos em poder oferecer essa resposta para vocês que tivemos a audácia de divulgar nossa versão Alpha (aplicativo ainda prematuro).
            p Temos um ciclo longo e constante de aprimoramento. Várias melhorias já estão previstas e contamos com o seu feedback para podermos oferecer uma ferramenta cada vez melhor.
            p
                em Lembramos que para o bom funcionamento deste programa, é necessário que a internet e a localização estejam disponíveis no smartphone ou tablet.
            p Nos antecipamos e pedimos desculpas por qualquer eventual problema em sua utilização e pedimos também que nos reporte qualquer problema, critica ou sugestão através do próprio aplicativo no menu CONTATO ou envie um email para contato@lupulocalizador.com.br.

            h4 Um brinde as cervejas!
