ion-view(title="Lupulocalizador")
    ion-content.contact
        loader
        header
            h1 Contato
            p Preencha os campos abaixo e entre em contato com a nossa equipe
        form(name="form" ng-submit="sendContact(form)" novalidate="")
            div.list
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.name.$valid && submitted,"has-error": form.name.$invalid && submitted }')
                    span.input-label Seu nome
                    input(type="text" name="name" ng-model="contact.name" placeholder="Digite seu nome..." minlength="3" maxlength="255" required)
                    p.help-block(ng-show='form.name.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Informe o seu nome
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.email.$valid && submitted,"has-error": form.email.$invalid && submitted }')
                    span.input-label Seu email
                    input(type="email" name="email" ng-model="contact.email" placeholder="Digite seu email..." minlength="3" maxlength="255" required)
                    p.help-block(ng-show='form.email.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Informe o seu email
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.message.$valid && submitted,"has-error": form.message.$invalid && submitted }')
                    span.input-label Sua mensagem
                    textarea(placeholder="Digite aqui sua mensagem para o nosso time..." rows="12" name="message" ng-model="contact.message" minlength="3" required)
                    p.help-block(ng-show='form.message.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Digite a sua mensagem
            div.padding
                button.button.button-block.btn-green(type="submit") Enviar Formulário