ion-view(title="Lupulocalizador")
    ion-nav-buttons(side="right")
        button.button.button-icon.icon.ion-pinpoint(ng-click="locate();")
    ion-content.home(data-tap-disabled="true")
        leaflet(defaults="map.defaults" url-hash-center="yes" layers="map.layers" center="map.center" markers="map.markers" ng-if="map")
        loader
        div.plz-card(ng-show="showCard")
            h3(ng-click="centerToStore(card.lat, card.lng)") {{card.name}}
            p {{card.district}} - {{card.city}}
            a.button.button-full.btn-green(style="padding: 0;" ng-href="#/app/stores/{{card.id}}") mais informações
