ion-view(title="Lupulocalizador")
    ion-content.home(data-tap-disabled="true")
        leaflet(defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map" height="{{map.height}}")
        .marker-tip(ng-if="!showForm") Toque em qualquer lugar do mapa para marcar
        div(ng-if="showForm")
            header
                h1 {{store.name}}
                p Preencha os campos abaixo para cadastrar o estabelecimento
            form(name="form" ng-submit="saveStore(form)" novalidate="")
                div.list
                    label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.name.$valid && submitted,"has-error": form.name.$invalid && submitted }')
                        span.input-label Nome do Estabelecimento
                        input(type="text" name="name" ng-model="store.name" placeholder="Digite o nome do estabelecimento..." minlength="3" maxlength="255" required)
                        p.help-block(ng-show='form.name.$error.required && submitted')
                            | <i class="ion ion-information-circled"></i> Informe o nome do estabelecimento

                    label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.phone.$valid && submitted,"has-error": form.phone.$invalid && submitted }')
                        span.input-label Telefone do Estabelecimento
                        input(type="text" name="phone" ng-model="store.phone" minlength="11" maxlength="12" placeholder="Digite o telefone do estabelecimento..." required)
                        p.help-block(ng-show='form.phone.$error.required && submitted')
                            | <i class="ion ion-information-circled"></i> Informe o telefone do estabelecimento

                    label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.address.$valid && submitted,"has-error": form.address.$invalid && submitted }')
                        span.input-label Endereço do Estabelecimento
                        input(type="text" name="address" ng-model="store.address" maxlength="256" placeholder="Digite o endereço do estabelecimento..." required)
                        p.help-block(ng-show='form.address.$error.required && submitted')
                            | <i class="ion ion-information-circled"></i> Informe o endereço do estabelecimento

                    label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.link.$valid && submitted,"has-error": form.link.$invalid && submitted }')
                        span.input-label Site/Fanpage do Estabelecimento
                        input(type="url" name="link" ng-model="store.link" placeholder="Digite o site/fanpage do estabelecimento..." minlength="3" maxlength="255")
                        p.help-block(ng-show='form.link.$error.required && submitted')
                            | <i class="ion ion-information-circled"></i> Informe o site/fanpage do estabelecimento

                    label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.comments.$valid && submitted,"has-error": form.comments.$invalid && submitted }')
                        span.input-label Nos informe mais sobre o estabelecimento
                        textarea(placeholder="Digite aqui uma descrição mais completa para o estabelecimento..." rows="12" name="comments" ng-model="store.comments" minlength="3" required)
                        p.help-block(ng-show='form.comments.$error.required && submitted')
                            | <i class="ion ion-information-circled"></i> Digite a descrição completa
                div.padding
                    button.button.button-block.btn-green(type="submit") Salvar Estabelecimento
