ion-view(title="Lupulocalizador")
    ion-content.states
        header
            h1 Estados
            p Escolha o estado para navegar
        div.list
            ion-item(ng-repeat="state in states" ng-click="changeState($index)")
                h2 {{ state.name }}
                p {{ state.city }}