ion-side-menus(enable-menu-with-back-views="true")
    ion-side-menu-content
        ion-nav-bar.bar-stable
            ion-nav-back-button(ng-if="route != '/app/map'") voltar
            ion-nav-buttons(side="left")
                button.button.button-icon.button-clear.ion-navicon(menu-toggle="left")
        ion-nav-view(name="menuContent")

    ion-side-menu(side="left")
        ion-content
            div.side-profile
                div.profile-photo
                    //i.ion.ion-person
                h3(ng-if="User.name != null") {{User.name}}
                .row(ng-if="User.email == undefined")
                    .col
                        a.button.button-small.button-outline.button-block.button-light(nav-clear menu-close href="#/app/users/login") Entrar
                    .col
                        a.button.button-small.button-outline.button-block.button-light(nav-clear menu-close href="#/app/users/create") Cadastrar
            ion-list
                ion-item(nav-clear menu-close ng-href="#/app/users/profile" ng-if="User.email != undefined") Meu Perfil
                ion-item(nav-clear menu-close ng-href="#/app/users/create" ng-if="User.email == undefined") Quero me Cadastrar
                ion-item(nav-clear menu-close ng-href="#/app/maps/") Mapa
                ion-item(nav-clear menu-close ng-href="#/app/states") Estados
                ion-item(nav-clear menu-close ng-href="#/app/contact") Contato
                ion-item(nav-clear menu-close ng-href="#/app/about") Sobre Nós
                ion-item(nav-clear menu-close ng-href="#/app/marker") Sugerir Estabelecimento

            a.button-logout.button.button-small.button-outline.button-block.button-light(ng-click="logout()" ng-if="User.email != undefined" nav-clear menu-close) Sair
