.home {
    .marker-tip{
        width: 100%;
        position: fixed;
        height: 50px;
        background: url('../images/touch.png') no-repeat 10px center #458234;
        top: 0px;
        left: 0;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }

    .leaflet-popup {
        //display: none !important;
    }
    .leaflet-popup-content {
        width: 180px !important;
        padding: 10px;
        margin: 0 !important;
        //display: none !important;
        h4 {
            font-weight: bolder;
            padding: 0;
            margin: 0;
        }
    }

    .plz-card {
        position: fixed;
        min-width: 95%;
        left: 2.5%;
        -webkit-transition:bottom linear 1.5s;
        transition:bottom linear 1.5s;
        bottom: 0px;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.95);
        padding: 10px;
        border: #ccc solid 1px;
        border-top: $primaryGreen 3px solid;
        -webkit-transition:all linear 0.3s;
        transition:all linear 0.3s;
        height: 130px;
        text-align: center;

        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }

        p {
            color: #777;
        }

        &.ng-hide {
            bottom: -120px;
        }

        &.ng-hide-add, &.ng-hide-remove {
            display:block!important;
        }
    }
}

