ion-modal-view(title="Vote")
    ion-header-bar.bar-stable
        .buttons
            button.button.button-icon.icon.ion-ios-close-outline(ng-click="ratingsModal.hide()")

    ion-content.ratings-modal
        loader
        header
            h1 Avalie
            p avalie os itens mais importantes do <br/>estabelecimento

        ion-list.ratings(style="padding-bottom: 50px;")
            div.item.item-divider Ambiente/Higiene
                span.item-note(ng-click="resetRanking('ambience')") Não Avaliar
            ion-item(style="text-align: center")
                rating(ng-model="rating.ambience" max="5")

            div.item.item-divider Nível de Sofisticação
                span.item-note(ng-click="resetRanking('price')") Não Avaliar
            ion-item(style="text-align: center")
                rating(ng-model="rating.price" max="5")

            div.item.item-divider Atendimento/Serviço
                span.item-note(ng-click="resetRanking('service')") Não Avaliar
            ion-item(style="text-align: center")
                rating(ng-model="rating.service" max="5")

            div.item.item-divider Variedade de Cerveja
                span.item-note(ng-click="resetRanking('variety_beer')") Não Avaliar
            ion-item(style="text-align: center")
                rating(ng-model="rating.variety_beer" max="5")

            div.item.item-divider Comida
                span.item-note(ng-click="resetRanking('variety_food')") Não Avaliar
            ion-item(style="text-align: center")
                rating(ng-model="rating.variety_food" max="5")

        div.padding
            button.button.button-block.btn-green(ng-click="saveRanking()") Enviar Avaliações