ion-view(title="Lupulocalizador")
    ion-content.store
        loader
        header
            img.avatar(src="images/beer-placeholder.gif" alt="store")
            h2 {{ ::store.name }}
            p.subtitle(ng-if="store.link.length > 0" ng-click="openLink(store.link)")
                | {{ ::store.link }} <i class="ion ion-link"</i>
        div.subpresentation
            div.button-bar
                a.button.icon-left.ion-location(ng-click="checkin();" style="border-left: none;") Marcar
                a.button.icon-left.ion-podium(ng-click="openRatingsModal();" style="border-right: none;") Avaliar

        div.item.item-divider(ng-if="store.address != null") Endereço
        a.item.item-icon-left(ng-if="store.address != null" ng-click="openMap()")
            i.icon.ion-ios-navigate-outline
            span(ng-if="store.address != null") {{ ::store.address }} <br />
            span(ng-if="store.district != null") {{ ::store.district }}, {{ ::store.city }} - &nbsp;
            span(ng-if="store.state != null") {{ ::store.state }}


        div.item.item-divider(ng-if="store.phones != null") Telefone
        div.list.contact(ng-if="store.phones != null")
            a.item.item-icon-left(ng-repeat="phone in ::store.phones" href="tel:{{ phone.number }}")
                i.icon.ion-ios-telephone-outline
                div {{ phone.number }}

        div.item.item-divider
            | {{::storeGeneralRanking.type}}
            span.badge.badge-stable(ng-if="storeGeneralRanking.ranking > 0") <strong>{{storeGeneralRanking.ranking}}</strong>
        store-ratings
