section.ratings
    ion-list
        ion-item(ng-repeat="ranking in store.ranking")
            span {{::ranking.type}}
            span.item-note
                span(ng-if="ranking.ranking == null") <em>sem avaliações</em>
                rating(ng-if="ranking.ranking != null" ng-model="ranking.ranking" max="5" readonly="1")