.store {
    header {
        padding-top: 15px;
        background: $primaryGreen;
        padding-bottom: 5px;
        color: #fff;
        position: relative;
        width: 100%;
        min-height: 100px;

        img {
            width: 75px;
            height: 75px;
            border: 2px solid #fff;
            -o-border-radius: 50%;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 10px;
            margin-right: 5px;
            margin-top: -10px;
            float: left;
        }

        div {
            text-align: center;
        }

        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
    }

    .contact {
        margin-bottom: 0 !important;
    }

    .subpresentation {
        padding-bottom: 5px;
        color: #fff;
        position: relative;
        width: 100%;
        height: 45px;
        z-index: -1;

        .button {
            border-color: #fff;
            background-color: $primaryGreen;
            color: #fff;
        }
    }

    .badge.badge-stable {
        background-color: $primaryGreen;
        color: #fff;
        margin-right: 35px;

        strong {
            font-family: "Verdana", "Arial" !important;
            font-weight: bolder;
        }
    }

    .item .badge {
        right: 0px;
        top: 0px;
        line-height: 30px;
        border-radius: 0;
    }
}