ion-view(title="Lupulocalizador")
    ion-content.register
        loader
        header
            h1 Cadastro
            p Faça o seu cadastro e aproveite o melhor do Lupulocalizador
        form(name="form" ng-submit="create(form)" novalidate="")
            div.list
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.name.$valid && submitted,"has-error": form.name.$invalid && submitted }')
                    span.input-label Seu nome <small>(obrigatório)</small>
                    input(type="text" name="name" ng-model="user.name" placeholder="Digite seu nome..." minlength="3" maxlength="255" required)
                    p.help-block(ng-show='form.name.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Informe o seu nome
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.email.$valid && submitted,"has-error": form.email.$invalid && submitted }')
                    span.input-label Seu email <small>(obrigatório)</small>
                    input(type="email" name="email" ng-model="user.email" placeholder="Digite seu email..." minlength="3" maxlength="255" required)
                    p.help-block(ng-show='form.email.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Informe o seu email
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.password.$valid && submitted,"has-error": form.password.$invalid && submitted }')
                    span.input-label Sua Senha <small>(obrigatório)</small>
                    input(type="password" name="password" ng-model="user.password" placeholder="Digite sua senha..." minlength="6" maxlength="255" required)
                    p.help-block(ng-show='form.password.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Digite uma senha
                    p.help-block(ng-show='form.password.$error.minlength && submitted')
                        | <i class="ion ion-information-circled"></i> A senha tem que ter no mínimo 6 caracteres
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.passwordConfirm.$valid && submitted,"has-error": form.passwordConfirm.$invalid && submitted }')
                    span.input-label Confirme Sua Senha <small>(obrigatório)</small>
                    input(type="password" name="passwordConfirm" ng-model="user.passwordConfirm" placeholder="Confirme sua senha..." minlength="6" maxlength="255" required)
                    p.help-block(ng-show='passwordMatch == false')
                        | <i class="ion ion-information-circled"></i> A confirmação da senha está diferente da senha informada
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.phone.$valid && submitted,"has-error": form.phone.$invalid && submitted }')
                    span.input-label Seu Telefone <small>(obrigatório)</small>
                    input(type="tel" name="phone" ui-mask="DDD 99 Tel: 99999-9999" ng-model="user.phone" required)
                    p.help-block(ng-show='form.phone.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Digite o seu telefone
                label.item.item-input.item-stacked-label
                    span.input-label Data de Nascimento
                    input(type="date" name="birthDate" ng-model="user.birthDate" required)
                    p.help-block(ng-show='form.birthDate.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Informe a sua data de nescimento
                    p.help-block(ng-show='!isAdult && submitted')
                        | <i class="ion ion-information-circled"></i> É necessário ser maior de 18 anos para utilizar o app
                div.item.item-input.item-stacked-label
                    span.input-label Como prefere ser tratado?
                    div.row(style="padding-right: 20px;")
                        label.item.item-radio.col
                            input(type="radio" name="gender" value="m" ng-model="user.gender")
                            div.item-content Prezado
                            i.radio-icon.ion-checkmark
                        label.item.item-radio.col
                            input(type="radio" name="gender" value="f" ng-model="user.gender")
                            div.item-content Prezada
                            i.radio-icon.ion-checkmark
                        label.item.item-radio.col
                            input(type="radio" name="gender" value="u" ng-model="user.gender")
                            div.item-content Prezadx
                            i.radio-icon.ion-checkmark

            div.padding
                button.button.button-block.btn-green(type="submit" ng-if="!userCreated") Cadastrar
                a.button.button-block.btn-green(ng-if="userCreated" ng-href="#/app/users/profile") Ir para o meu perfil
