ion-view(title="Lupulocalizador")
    ion-content.register
        loader
        header
            h1 Login
            p Faça o login e aproveite o melhor do Lupulocalizador
        form(name="form" ng-submit="login(form)" novalidate="")
            div.list
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.email.$valid && submitted,"has-error": form.email.$invalid && submitted }')
                    span.input-label Seu email <small>(obrigatório)</small>
                    input(type="email" name="email" ng-model="user.email" placeholder="Digite seu email..."
                    minlength="3" maxlength="255" required)
                    p.help-block(ng-show='form.email.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Informe o seu email
                label.item.item-input.item-stacked-label(ng-class='{ "has-success": form.password.$valid && submitted,"has-error": form.password.$invalid && submitted }')
                    span.input-label Sua Senha <small>(obrigatório)</small>
                    input(type="password" name="password" ng-model="user.password" required)
                    p.help-block(ng-show='form.password.$error.required && submitted')
                        | <i class="ion ion-information-circled"></i> Digite sua senha

            div.padding
                button.button.button-block.btn-green(type="submit" ng-if="!userCreated") Entrar