ion-view(title="Lupulocalizador")
    ion-content.profile
        loader
        header
            div.profile-photo
                //i.ion.ion-person
            h1 {{ ::profile.name }}

            div.row.items-profile
                div.col
                    | {{ ::profile.total_checkin }} <br />
                    span Marcações
                div.col
                    | {{ ::profile.total_visited }} <br />
                    span Estabelecimentos Conhecidos
                div.col
                    | {{ ::profile.total_created }} <br />
                    span Sugestões

        ion-list
            div.item.item-divider(style="text-align: center;") Dados do Usuário
            label.item.item-input.item-stacked-label
                span.input-label <strong>Email</strong> <br />
                span.row {{ ::profile.email[0].email }}

            label.item.item-input.item-stacked-label
                span.input-label <strong>Data de Nascimento</strong> <br />
                span.row(ng-if="profile.birth != undefined") {{ ::profile.birth | date: 'dd - MM - yyyy' }}
                span.row(ng-if="profile.birth == undefined") <small>Não preenchido</small>

            label.item.item-input.item-stacked-label
                span.input-label <strong>Telefone</strong> <br />
                span.row(ng-if="profile.phone[0].number != undefined") {{ ::profile.phone[0].number }}
                span.row(ng-if="profile.phone[0].number == undefined") <small>Não preenchido</small>

            label.item.item-input.item-stacked-label
                span.input-label <strong>Tratamento</strong> <br />
                span.row(ng-if="profile.gender == 'M'") Prezado
                span.row(ng-if="profile.gender == 'F'") Prezada
                span.row(ng-if="profile.gender == 'U'") Prezadx
                span.row(ng-if="profile.gender == '' || profile.gender == undefined") <small>Não preenchido</small>
            //
            //label.item.item-input.item-stacked-label.item-select(style="line-height: 35px;")
            //    div.input-label <strong>Serviço de Mapa</strong> <br />
            //    select(ng-model="user.mapService")
            //        option(value="osm" selected) Open Street Maps
            //        option(value="mapbox") Mapbox
            //        option(value="gmaps") Google Maps


            div.item.item-divider(style="text-align: center;") Lugares Visitados Recentemente
            div.item(style="text-align: center;") em breve...

