.register {
    small {
        color: #999;
    }

    .item-radio {
        .item-content {
            padding-right: 0 !important;
            padding: 10px;
        }
    }
}

.profile {
    header {
        text-align: center;
        .profile-photo {
            background: url('../images/user.png') center center no-repeat;
            background-size: 100px 100px;
            border: #fff solid 1px;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            color: #fff;
            margin: 0 auto;
            object-fit: cover;
            overflow: hidden;
            text-align: center;

            i {
                object-fit: cover;
                font-size: 90px;
            }

            img {
                object-fit: cover;
                border-radius: 50%;
                border: #fff solid 2px;
            }
        }

        .items-profile {
            .col {
                border-right: rgba(255, 255, 255, 0.3) solid 1px;
                font-size: 18px;
                line-height: 14px;
                text-align: center;

                span {
                    font-size: 12px;
                    text-align: center;
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }
}