/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "../../lib/ionic/scss/ionic";

$positive: #458234 !default;
$primaryGreen: #458234; // #1E824C

@font-face {
    font-family: 'TitilliumWeb200';
    src: url('../fonts/TitilliumWeb200.eot');
    src: url('../fonts/TitilliumWeb200.eot') format('embedded-opentype'),
    url('../fonts/TitilliumWeb200.woff2') format('woff2'),
    url('../fonts/TitilliumWeb200.woff') format('woff'),
    url('../fonts/TitilliumWeb200.ttf') format('truetype'),
    url('../fonts/TitilliumWeb200.svg#TitilliumWeb200') format('svg');
}

body {
    font-family: "TitilliumWeb200", sans-serif;
    height: auto;
    min-height: 100%;

    .home {
        .scroll, .angular-leaflet-map {
            height: 100%;
        }
    }

    * {
        font-family: "TitilliumWeb200", sans-serif;
    }

    .loader {
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1001;

    }

    .help-block {
        color: #c0392b;
        font-weight: bold;
    }

    .btn-green {
        background: $primaryGreen;
        color: #fff;
        border-color: $primaryGreen;
        font-variant: small-caps;
        font-weight: bold;
        text-align: center !important;
        position: relative;
    }

    .item-divider {
        background-color: #ccc;
        color: #fff;
        font-weight: bolder !important;
    }

    .item {
        i {
            color: #ccc;
        }
    }

    .bar-footer.btn-green {
        padding-left: 37%;
    }

    .rating-off {
        color: #ccc;
    }

    .ion-ios-star{
        color: $primaryGreen !important;
    }

    .ion-ios-star-outline{
        color: #ccc;
    }

    ul.rating li {
        padding: 5px 2px;
    }

    ul.rating li i {
        font-size: 14px;
    }

    .ratings-modal ul.rating li i {
        font-size: 25px;
    }

    .bar-stable {
        background: $primaryGreen !important;
        color: #fff !important;
        border-bottom: none;

        .bar-stable button, .title {
            color: #fff !important;
        }
    }

    ion-side-menu {
        background: #2c3e50 !important;

        .side-profile {
            text-align: center;
            margin-top: 10px;
            padding-top: 20px;

            h3 {
                color: #fff;
                font-size: 1.3em;
                margin-top: 10px;
            }

            p {
                color: #fff;
            }

            .edit-profile-menu {
                color: #fff;
                font-size: 1.8em;
                text-decoration: none;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .profile-photo {
                background: url('../images/user.png') center center no-repeat;
                background-size: 120px 120px;
                border: #fff solid 1px;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                color: #fff;
                margin: 0 auto;
                object-fit: cover;
                overflow: hidden;

                i {
                    object-fit: cover;
                    font-size: 112px;
                }

                img {
                    object-fit: cover;
                    border-radius: 50%;
                    border: #fff solid 2px;
                }
            }
        }

        ion-item {
            color: #fff !important;
            border-color: #34495e !important;
            background: transparent !important;

            a {
                color: #fff !important;
                border-color: #34495e !important;
                background: transparent !important;
            }
        }

        .button-logout {
            position: absolute;
            right: 10px;
            top: -10px;
            width: 60px;
        }
    }

    header {
        padding-top: 5px;
        background: $primaryGreen;
        padding-bottom: 5px;
        color: #fff;
        position: relative;
        width: 100%;
        min-height: 100px;

        h1 {
            color: #fff;
            font-width: bold;
            font-size: 28px;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

@import "../../app/main/main";
@import "../../app/users/users";
@import "../../app/stores/stores";